<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="isl/style.css" />
    <style>
       
     
    </style>
</head>
<body style="background-color:#f5deb3;">
    <nav id="nav" class="navbar navbar-default navbar-fixed-top navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header navbar-left">
                <a href="#" id="navbar-brand" class="navbar-brand">I S L</a>
            </div>
    
    
            <div class="navbar-header navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li> <a href="#"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div scr="E:\inflab\inflab1\isl\templates\isl\22.jpg"></div>
    <div class="container-fluid">
        <div class="card"  >
            <div class="jumbotron" style="text-align: center;background-color:rgb(0, 190, 0); margin:18%;margin-left: 50%;">
                <h1>RESULTS</h1>
                <h2>{{base_data}}</h2>
            </div>
        </div>
    </div>
    <div class="scene"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r126/three.js"
        integrity="sha512-aPhrlLlp7Mr8g+MVw6/wMD8PjqqzRNhSM8pHDyyJPmUTJMzKxMmxrjauzQforOaAegN3CIKUTKXJyLwFD57RtA=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineMax.min.js"
        integrity="sha512-MBKN+F1LTtgzsnhh92u6fEklbJbv13vKI/2BZP0LLR8+IMeqlp0h10R6afWaJv2HIJfTOQkjW0LCPrIFEkZVeg=="
        crossorigin="anonymous"></script>
    <script src="MTLLoader.js"></script>
    <script src="OBJLoader.js"></script>
    <script src="OrbitControls.js"></script>
    <script>

        var x = window.innerWidth / 2;
        var y = window.innerHeight;
        var scene = new THREE.Scene();
        const fov = 95;
        const aspect = x / y;
        const near = 10.;
        const far = 2000;

        var camera = new THREE.PerspectiveCamera(fov, aspect, near, far);




        var renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
        renderer.setClearColor("#f5deb3")
        renderer.setSize(x, y);
        //renderer.setPixelRatio(window.devicePixelRatio);

        document.body.appendChild(renderer.domElement);

        window.addEventListener('resize', () => {

            renderer.setSize(x, y);
            camera.aspect = x / y;
            camera.updateProjectionMatrix();
        })

        controls = new THREE.OrbitControls(camera, renderer.domElement);
        camera.position.set(-500, 400, 500);
        controls.update();
        controls.listenToKeyEvents(window); // optional

        //controls.addEventListener( 'change', render ); // call this only in static scenes (i.e., if there is no animation loop)

        controls.enableDamping = true; // an animation loop is required when either damping or auto-rotation are enabled
        controls.dampingFactor = 0.05;

        controls.screenSpacePanning = false;

        controls.minDistance = 100;
        controls.maxDistance = 500;

        controls.maxPolarAngle = Math.PI / 2;

        var light = new THREE.AmbientLight(0xFFFFFF, 0.25, 500)
        light.position.set(0, 0, 255);
        scene.add(light);



        var ourObj;
        var ourObj2;

        var mtlLoader = new THREE.MTLLoader();
        mtlLoader.load('kp2.mtl', function (materials) {
            materials.preload();

            var objLoader = new THREE.OBJLoader();
            objLoader.setMaterials(materials);
            objLoader.load('kp2.obj', function (object) {
                scene.add(object);

                object.position.z = 0;
                object.rotation.x = 0;
                object.rotation.y = 0;
            });
        });



        var render = function () {
            requestAnimationFrame(render);
            //object.rotation.z += 0.003;
            controls.update();
            renderer.render(scene, camera);
        }

        render();

                    //this.tl = new TimelineMax().delay(.3);
                    //this.tl.to(this.mesh.scale, 1, { x: 2, ease: Expo.easeOut })



    </script>
</body>
</html>