*{
    margin:0;
    padding:0;
    box-sizing:content-box;
}
body{
    font-family: sans-serif;
    overflow: hidden;
}

.scene,canvas{
    position:relative; 
    width: 10%;
    height:50%;
    display:block; 
}

canvas{
    width: 50%;
}
div#sidebar {
background-color: #0FF;
width: 80px;
position: absolute;
top: 110px;
min-height: 300px;
}